
html, body {
    width: 100%;
    height: 100%;
    font-size: 100%;
    background: #fff;
}


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #4A4A4A;
    line-height: 1.5;
    font-weight: 300;

}

.face-container {
    position: absolute;
    /* color: red; */
    /* letter-spacing: 0.8rem; */
    text-align: center;
    /* top: 40%; */
    width: 60%;
    margin-left: 20%;
}

h1 {
    color: mediumseagreen
}

.hidden {
    border: 0px;
    /* width: 640px;
    height: 480px; */
}
video {
    /* do I need !important */
    border: 5px solid grey !important;
    width: 640px;
    height: 480px;
}
.canvas-container {
    border: 5px solid grey !important;
    width: 640px;
    height: 480px;
}
.canvas-container.hidden {
    width: 640px;
    height: 480px;
}
.m-t-1 {
    margin-top: 1rem;
}
.m-t-2 {
    margin-top: 2rem;
}

.button-right {
    text-align: right;
}


