html, body {
    width: 100%;
    height: 100%;
    font-size: 100%;
}

body {
    font-family: 'Open Sans', helvetica, sans-serif;
    font-size: 14px;
    color: #4A4A4A;
    line-height: 1.5;
    font-weight: 300;
}

#loading-container {
    font-family: sans-serif;
    position: absolute;
    color: white;
    letter-spacing: 0.8rem;
    text-align: center;
    top: 40%;
    width: 100%;
    text-transform: uppercase;
}

#mapid { min-height: 100vh; }

#search-bar {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 1000;
}

.search-input {
    background-color: olivedrab;
}